@*@model IEnumerable<SUNetwork.Models..Models.SP_ETKINLIK_LISTESI_Result>*@

@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="Anadiv">
    <div class="divGonderi">
        <textarea id="txtGonderi" rows="3" cols="40" placeholder="Gönderi yaz..."></textarea>
        <br />
        Fotoğraf ekle : 
        <input type="checkbox" id="cbSharePhoto" />
        <input type="file" name="PHOTO_PATH" id="PHOTO_PATH" accept=".jpg,.png,.JPEG,.jpeg" class="form-control" />
    </div>
    <div class="btnPaylas">
        <input id="btnGonder" type="button" value="Paylaş" />
   
        <input id="btnFoto" type="button" value="Fotoğraf Paylaş" />
    </div>

    <div id="divDonderi">
        <table id="myTable"></table>
    </div>
    <div>
        <a href="javascript:GetMessage()">Daha Fazla</a>
    </div>

</div>


@section Scripts {

    <script type="text/javascript">

        //Erkan ilk yuklendiğine burdan kayıt akliyoruz
        document.body.onload = GetMessage();

        $("#cbSharePhoto").click(function () {
            if ($(this).is(':checked')) {
                $("#btnFoto").show();
                $("#PHOTO_PATH").show();
                $("#btnGonder").hide();
            }
            else {
                $("#btnFoto").hide();
                $("#PHOTO_PATH").hide();
                $("#btnGonder").show();

            }
        });

        $('#btnGonder').click(function () {
            var gonderi = $('#txtGonderi').val();

            if (gonderi == '') {
                alert("Gönderi alanı boş olamaz.")
                return;
            }

            var r = confirm("İşlemi gerçekleştirmek istediğinizden emin misiniz?");
            if (r == true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GonderiOlustur", "Activity")',
                    data: { gonIcerik: gonderi, activityType:'Y' }
                })
            .done(function () {
                //alert("Tamama");
                GetMessage();

            })
          .fail(function () {
              alert("Bir Hata Olştu");
          });

                myfunction();
            } else {
            }

            //________________________________________________________________________________
        });

        $('#btnFoto').click(function () {
            var gonderi = $('#txtGonderi').val();
            var foto = $('#PHOTO_PATH').val();
            if (foto == '') {
                alert("Gönderi alanı boş olamaz.")
                return;
            }

            var formData = new FormData();
            var files = $("#PHOTO_PATH").get(0).files;
            if (files.length > 0) {
                formData.append("photo", files[0]);
                formData.append("gonderi", gonderi);

                var f = confirm("Fotoğrafı paylaşmak istediğinizden emin misiniz?");
                if (f == true) {
                    $.ajax({
                        type: "POST",
                        processData: false,
                        contentType: false,
                        url: "@Url.Action("GonderiOlusturPhoto", "Activity")", 
                        data: formData
                    })
                        .done(function () {
                            //alert("Tamama");
                            GetMessage();

                        })
                        .fail(function () {
                            alert("Bir Hata Olştu");
                        });

                    myfunction();
                } else {
                }
            }
            //________________________________________________________________________________
        });

        function GetMessage() {
            //$("#deneme").hide();


            $("#btnFoto").hide();
            $("#PHOTO_PATH").hide();
            $("#btnGonder").show();

            var table = document.getElementById("myTable");
            var rows = document.getElementById("myTable").getElementsByTagName("tr").length;
            var satirSayisi = rows / 4;

            secilenLink = 'Gonderi';
            //<img src="~/Content/ResimProfil/2012-03-22 22-27-10.JPG" />

            rows = satirSayisi + 10;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GonderiList", "Activity")',
                data: { kayitSayisi: rows }
            }).done(function (Sprint) {
                //table.innerHTML = '';
                var index = 0;
                $.each(Sprint, function (i, s) {
                    var row = table.insertRow(satirSayisi + index);
                    index++;
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    cell1.innerHTML = '<img src="' + s.PhotoPath + '" style="width:80px; height:80px; border-radius: 300px; -webkit-border-radius:300px;-moz-border-radius:300px;""/>';
                    var item = '<table  width="100%"> <tr>'
                        + '<td style="color:blue" width="82%">' + s.UserNameSurname + '</td>'
                        + '<td style="color:black">' + s.UpdateDate + '</td>';
                    + '</tr>';
                    item += ((s.Activitytype == "F") ?'<tr>'
                        + '<td colspan="2">' + '<img src="' + s.SharedPhotoPhath + '" style="width:300px; height:300px;""/>'+ '</td>'
                        + '</tr>':'<tr></tr>');

                              //---------------------------------------------------------
                              item+= '<tr>'
                                + '<td colspan="2">' + s.Description + '</td>'
                       + '</tr>'
                       //-----------------------------------------------------------
                      + '</table>';
                                cell2.innerHTML = item;

                });

            }).fail(function () { alert("Hata oluştu"); });
                }

        function myfunction() {
            //alert("Tamama Geldi");
            var div = document.getElementById('divDonderi');

            $.ajax({
                type: "POST",
                url: '@Url.Action("GonderiList", "Activity")',
                data: {}
            }).done(function (Sprint) {
                var items = '<table class="table">'
                $.each(Sprint, function (i, s) {
                    items += ''
                     + '<tr>'
                        + '<td width="82px">'
                        + '<img src="' + s.PhotoPath + '" style="width:80px;height:80px;"/>'
                         + '</td>'
                   + '<td> <table  width="100%"> <tr>'
                        + '<td width="82%">' + s.UserNameSurname + '</td>'
                        + '<td>' + s.UpdateDate + '</td>'
                           + '</tr>'
                            + '<tr>'
                        + '<td colspan="2">' + s.Descreption + '</td>'
                           + '</tr>'
                           + '</table></td>'
                + '</tr>';

                });
                items += '</table>';
                div.innerHTML = div.innerHTML + '';
                div.innerHTML = div.innerHTML + items;

                }).fail(function () { alert(" İşleminiz Başarı ile gerçekleştirildi. Lütfen Sayfanızı yenileyiniz!"); });
        }


        function gkoddostu(g2g) {
            g2g = "div" + g2g;
            document.getElementById(g2g).style.display = 'block';
            g1g.style.backgroundColor = 'd8dfea';
        }
        function ckoddostu(g1t) {
            g1t = "div" + g1t;
            document.getElementById(g1t).style.display = 'none';
        }

    </script>
}

<style>
    div.koddostu-face2box {
        position: fixed;
        z-index: 99900;
    }


    div.duyur2ucu-koddostu {
        display: none;
        font-family: tahoma,verdana,arial,sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #333333;
        padding: 20px 15px 40px 15px;
        overflow: visible;
        bottom: 8px;
        right: 230px;
        width: 325px;
        border: 5px solid black;
        background-color: #fff;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    div.koddostu-face2box {
        _position: absolute;
    }

    div.duyur2ucu-koddostu {
        _bottom: auto;
        _top: expression(ie6=(document.documentElement.scrollTop+document.documentElement.clientHeight - 52+"px") );
    }

    div.koddostu-facebox {
        position: fixed;
        z-index: 1000;
    }

    div.duyurucu-koddostu {
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 28px;
        bottom: -1px;
        right: 10px;
        width: 205px;
        border: 1px solid #5B73A6;
        background-color: #f2f4f8;
    }

    div.koddostu-facebox {
        _position: absolute;
    }

    div.duyurucu-koddostu {
        _bottom: auto;
        _top: expression(ie6=(document.documentElement.scrollTop+document.documentElement.clientHeight - 52+"px") );
    }

    .Anadiv {
        width: 800px;
        height: 100%;
        /*align-content: center;*/
        margin-top: 1px;
        margin-left: auto;
        margin-right: auto;
        background-color: whitesmoke;
        border-bottom-style: groove;
        border-left-style: inset;
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
        box-shadow: 0 0 6px 4px #70767c;
        /*background-color: rgba(216, 223, 234, 0.08);*/
        text-align: justify;
        text-align-last: left;
        box-shadow: 20px;
    }

</style>
