USE [SELCUKDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTIVATION]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[CODE] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[STATUS_CODE] [char](1) NOT NULL CONSTRAINT [DF_ACTIVATION_STATUS_CODE]  DEFAULT ('A'),
 CONSTRAINT [PK_ACTIVATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[ACTIVITY_TYPE] [nchar](10) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[STATUS_CODE] [nchar](1) NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[COMMENT] [nvarchar](400) NOT NULL,
	[COMMENT_DATE] [datetime] NOT NULL,
	[STATUS_CODE] [char](1) NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_COMMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FAVORITE]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FAVORITE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[STATUS_CODE] [char](1) NOT NULL,
	[FAVORITE_TYPE] [char](1) NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_FAVORITE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MESSAGE] [text] NOT NULL,
	[SEND_DATE] [datetime] NOT NULL,
	[SENDER_USER_ID] [nvarchar](128) NOT NULL,
	[RECEIVER_USER_ID] [nvarchar](128) NOT NULL,
	[RECEIVE_DATE] [datetime] NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[PARAMETER_CODE] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[VALUE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PARAMETER] PRIMARY KEY CLUSTERED 
(
	[PARAMETER_CODE] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [nvarchar](128) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SURNAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[STATUS_CODE] [char](1) NOT NULL,
	[USER_TYPE] [char](2) NOT NULL,
	[START_DATE] [smallint] NOT NULL,
	[FINISH_DATE] [smallint] NOT NULL,
	[PHOTO_PATH] [nvarchar](max) NOT NULL,
	[GENDER] [char](1) NOT NULL,
	[DEPARTMAN_CODE] [nvarchar](10) NULL,
	[IS_PRIVATE] [char](1) NULL,
	[JOB] [nvarchar](20) NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS_ACTIVITY]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_ACTIVITY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[ACTIVITY_TYPE] [nchar](10) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_USERS_ATIVITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS_FRENDSHIP]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS_FRENDSHIP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_USER_ID] [nvarchar](128) NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[STATUS_CODE] [char](1) NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_USERS_FRENDSHIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS_GROUP]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS_GROUP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [nvarchar](50) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[STATUS_CODE] [char](1) NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL CONSTRAINT [DF_USER_GROUP_UPDATE_DATE]  DEFAULT (getdate()),
 CONSTRAINT [PK_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS_GROUP_MEMBERS]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_GROUP_MEMBERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GROUP_ID] [bigint] NOT NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[MEMBER_DATE] [datetime] NOT NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_USER_GROUP_MEMEBERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FAVORITE] ADD  CONSTRAINT [DF_FAVORITE_UPDATE_DATE]  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  CONSTRAINT [DF_MESSAGES_UPDATE_DATE]  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[USERS_GROUP_MEMBERS] ADD  CONSTRAINT [DF_USER_GROUP_MEMEBERS_UPDATE_DATE]  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTIVITY_LIST]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 

CREATE PROC [dbo].[SP_ACTIVITY_LIST]
@KAYIT_SAYISI INT = 10
AS
BEGIN
SELECT *from (
    SELECT    ROW_NUMBER() OVER ( ORDER BY tg.ID desc ) AS RowNum,
		        tg.ID,
				tg.DESCRIPTION,
				tg.UPDATE_DATE,
				(tp.NAME+ ' ' + tp.SURNAME) AS 'kullaniciAdiSoyadi',
				tp.USER_ID,
				 tp.PHOTO_PATH
	   FROM [dbo].[ACTIVITY] tg 
				LEFT JOIN [dbo].[USERS] tp ON tg.USER_ID = tp.USER_ID	
				) a WHERE  a.RowNum>(@KAYIT_SAYISI-10) and  a.RowNum <= @KAYIT_SAYISI

END
GO
/****** Object:  StoredProcedure [dbo].[SP_FRIENDSHIP_ACTION]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*


*/

CREATE PROCEDURE [dbo].[SP_FRIENDSHIP_ACTION]
@USER_ID NVARCHAR(128),
@MAIN_USER_ID NVARCHAR(128),
@STATUS_CODE CHAR(1) --A: a aktif, P:Arkadaş değil, B, Engelnemiş
AS
BEGIN
	IF(@STATUS_CODE = 'A')
	BEGIN
		UPDATE [dbo].[USERS_FRENDSHIP]
		SET STATUS_CODE=@STATUS_CODE,
		UPDATE_DATE=GETDATE(),
		START_DATE=GETDATE()
		WHERE MAIN_USER_ID=@USER_ID
		AND USER_ID=@MAIN_USER_ID

		--INSERT INTO [dbo].[USERS_FRENDSHIP]
		--			([MAIN_USER_ID]
		--			,[USER_ID]
		--			,[START_DATE]
		--			,[STATUS_CODE]
		--			,[UPDATE_DATE])
		--		VALUES
		--			(@USER_ID,
		--			@MAIN_USER_ID,
		--			GETDATE(),
		--			'A',
		--			GETDATE())

	END
	ELSE
	BEGIN
		UPDATE [dbo].[USERS_FRENDSHIP]
		SET STATUS_CODE=@STATUS_CODE,
		UPDATE_DATE=GETDATE()
		WHERE MAIN_USER_ID=@USER_ID
		AND USER_ID=@MAIN_USER_ID
	END


END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_FOLLOWERS]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_FOLLOWERS]
@USER_ID nvarchar(128),
@FOLLOWER_TYPE int, -- 1 geliese takip edilenler, 2 gelirse de takipçiler
@STATUS_CODE CHAR(1)
AS
BEGIN
if(@FOLLOWER_TYPE = 1) --takip ettikerrim
BEGIN
		SELECT 
			u.NAME +' '+ u.SURNAME as 'NAME_SURNAME',
			u.NAME,
			U.SURNAME,
			U.USER_ID,
			U.PHOTO_PATH,
			U.DEPARTMAN_CODE,
			U.EMAIL,
			U.JOB,
			U.START_DATE,
			u.FINISH_DATE,
			u.UPDATE_DATE,
			u.GENDER,
			u.USER_TYPE,
			f.STATUS_CODE
		FROM [dbo].[USERS_FRENDSHIP] (NOLOCK) f
		INNER JOIN [dbo].[USERS] u ON f.USER_ID=u.USER_ID
		WHERE f.MAIN_USER_ID = @USER_ID
		and ((ISNULL(@STATUS_CODE,'') = '' AND f.STATUS_CODE IN('A') )OR f.STATUS_CODE = @STATUS_CODE)
		ORDER BY f.STATUS_CODE DESC
END
ELSE
BEGIN
		SELECT 
			u.NAME +' '+ u.SURNAME as 'NAME_SURNAME',
			u.NAME,
			U.SURNAME,
			U.USER_ID,
			U.PHOTO_PATH,
			U.DEPARTMAN_CODE,
			U.EMAIL,
			U.JOB,
			U.START_DATE,
			u.FINISH_DATE,
			u.UPDATE_DATE,
			u.GENDER,
			u.USER_TYPE,
			f.STATUS_CODE
		FROM [dbo].[USERS_FRENDSHIP] (NOLOCK) f
		INNER JOIN [dbo].[USERS] u ON f.MAIN_USER_ID=u.USER_ID
		WHERE f.USER_ID = @USER_ID
		and ((ISNULL(@STATUS_CODE,'') = '' AND f.STATUS_CODE IN('W','A') )OR f.STATUS_CODE = @STATUS_CODE)
		ORDER BY f.STATUS_CODE DESC
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_FRIEND_REQUEST_COUNT]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_GET_FRIEND_REQUEST_COUNT]
@USER_ID nvarchar(128)
AS
BEGIN
	SELECT COUNT(*) AS COUNT_FRIEND_REQUEST
	FROM [dbo].[USERS_FRENDSHIP](NOLOCK)
	Where MAIN_USER_ID = @USER_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_FRIENDS]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_FRIENDS]
@USER_ID nvarchar(128),
@STATUS_CODE CHAR(1)
AS
BEGIN
	SELECT 
		u.NAME +' '+ u.SURNAME as 'NAME_SURNAME',
		u.NAME,
		U.SURNAME,
		U.USER_ID,
		U.PHOTO_PATH,
		U.DEPARTMAN_CODE,
		U.EMAIL,
		U.JOB,
		U.START_DATE,
		u.FINISH_DATE,
		u.UPDATE_DATE,
		u.GENDER,
		u.USER_TYPE,
		f.STATUS_CODE
		FROM [dbo].[USERS_FRENDSHIP] (NOLOCK) f
		INNER JOIN [dbo].[USERS] u ON f.MAIN_USER_ID=u.USER_ID
		WHERE F.USER_ID=@USER_ID
		and (@STATUS_CODE = '' OR @STATUS_CODE IS NULL OR f.STATUS_CODE=@STATUS_CODE)
		ORDER BY f.STATUS_CODE DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_PROFILE]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_PROFILE]
@NAME nvarchar(50),
@USER_ID nvarchar(128)
AS
BEGIN
	SELECT 
		USER_ID, 
		NAME,SURNAME, 
		PHOTO_PATH
	FROM USERS (nolock)
	WHERE STATUS_CODE='A' 
	AND NAME LIKE '%' + @NAME  + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_USER_PROFILE]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_USER_PROFILE]
@NAME nvarchar(50),
@USER_ID nvarchar(128)
AS
BEGIN
	SELECT 
		u.USER_ID, 
		u.NAME,SURNAME, 
		u.PHOTO_PATH,
		CASE WHEN f.MAIN_USER_ID IS NULL THEN 'N' ELSE f.STATUS_CODE END  as STATUS_CODE
	FROM USERS (nolock) u
	LEFT JOIN [dbo].[USERS_FRENDSHIP] f ON u.USER_ID = f.USER_ID
	WHERE u.STATUS_CODE='A' 
	AND u.NAME LIKE '%' + @NAME  + '%'
	and u.USER_ID <> @USER_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_ACTIVITY_LIST]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 

CREATE PROC [dbo].[SP_USER_ACTIVITY_LIST]
@KAYIT_SAYISI INT = 10,
@USER_ID nvarchar(128)
AS
BEGIN
create table #userTemp
(
USER_ID nvarchar(128),
)

INSERT INTO #userTemp(USER_ID) VALUES(@USER_ID)

INSERT INTO 
	#userTemp(USER_ID) 
SELECT DISTINCT USER_ID FROM USERS_FRENDSHIP(Nolock) Where MAIN_USER_ID = @USER_ID and STATUS_CODE ='A'


SELECT *from (
    SELECT    ROW_NUMBER() OVER ( ORDER BY a.ID desc ) AS RowNum,
		        a.ID,
				a.DESCRIPTION,
				a.UPDATE_DATE,
				(u.NAME+ ' ' + u.SURNAME) AS 'kullaniciAdiSoyadi',
				u.USER_ID,
				u.PHOTO_PATH
	   FROM [dbo].[ACTIVITY](NOLOCK) a 	  
	   INNER JOIN #userTemp t ON a.USER_ID = t.USER_ID
	   INNER JOIN USERS(Nolock) u ON t.USER_ID = u.USER_ID
	) a 
	WHERE a.RowNum>(@KAYIT_SAYISI-10) 
	and  a.RowNum <= @KAYIT_SAYISI

END
GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_LOGIN]    Script Date: 17.12.2017 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_USERS_LOGIN]
	@EMAIL NVARCHAR(50),
	@PASSWORD NVARCHAR(20)
AS
BEGIN
	
	SELECT top 1 *from dbo.USERS
	Where EMAIL = @EMAIL 
	AND PASSWORD = @PASSWORD 
	AND STATUS_CODE = 'A'
END


GO
