<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/09d1359b-7321-41b9-9ab2-c39a4bdce578/resourcegroups/SUNETWORK/providers/Microsoft.Web/sites/SUNetwork</ResourceId>
    <ResourceGroup>SUNETWORK</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sunetwork.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sunetwork.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SUNetwork</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SUNetwork</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SUNetwork.Models.ApplicationDbContext, SUNetwork" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SELCUKDBEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SUNetwork.Models.SELCUKDBEntities1, SUNetwork" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SELCUKDBEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KRC;Initial Catalog=SELCUKDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SELCUKDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SUNetworkModel.csdl|res://*/Models.SUNetworkModel.ssdl|res://*/Models.SUNetworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KRC;initial catalog=SELCUKDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SELCUKDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SUNetworkModel.csdl|res://*/Models.SUNetworkModel.ssdl|res://*/Models.SUNetworkModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:sunetwork.database.windows.net,1433;initial catalog=SUNETWORK;persist security info=False;user id=suadmin;password=Su20Net18*;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SELCUKDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SELCUKDBEntities.csdl|res://*/Models.SELCUKDBEntities.ssdl|res://*/Models.SELCUKDBEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sunetwork.database.windows.net,1433;Initial Catalog=SUNETWORK;Persist Security Info=False;User ID=suadmin;Password=Su20Net18*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>